<raw>
    <script>
        export default {
            setInnerHTML() {
                this.root.innerHTML = this.props.html.replace(/\n/g, "<br />");
            },
            onMounted() {
                this.setInnerHTML()
            },
            onUpdated() {
                this.setInnerHTML()
            }
        }
    </script>
</raw>
